@model LearningManagementSystem.Models.Batch
@{
    ViewData["Title"] = "Batch Create";
    Layout = "DashboardLayout";


}
@if (ViewBag.mesg != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> @ViewData["mesg"].ToString()
    </div>
}


<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Add Batch</li>

        </ol>
    </nav>
</div><!-- End Page Title -->

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"> </label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <span asp-validation-for="Name" class="bg-danger"></span>

    <label class="form-label"> </label>
    <select asp-for="LabFk" asp-items="@ViewBag.lab" class="form-control">
        <option selected>
            Select Lab
        </option>
    </select>

    <label asp-for="StartTime"> </label>
    <input type="time" asp-for="StartTime" class="form-control" />
    <br />
    <span asp-validation-for="StartTime" class="bg-danger"></span>

    <label asp-for="EndTime"> </label>
    <input type="time" asp-for="EndTime" class="form-control" />
    <br />
    <span asp-validation-for="EndTime" class="bg-danger"></span>

    <input type="submit" value="Add" class="btn btn-primary" />

</form>