@model LearningManagementSystem.Models.Status
@{
    ViewData["Title"] = "Status Create";
    Layout = "DashboardLayout";


}
@if (ViewBag.mesg != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> @ViewData["mesg"].ToString()
    </div>
}




<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Status1"> </label>
    <input type="text" asp-for="Status1" class="form-control" />
    <br />
    <span asp-validation-for="Status1" class="bg-danger"></span>

    <input type="submit" value="Add" class="btn btn-primary" />

</form>