@model LearningManagementSystem.Models.Course

@{
    ViewData["Title"] = "Course Create";
    Layout = "DashboardLayout";
}


@if (ViewBag.message != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> @ViewData["message"].ToString()
    </div>
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Add Courses</li>


        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="container">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Course">Back</a>
</div>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="CategoryFk" class="mt-2"> </label>
    <select asp-for="CategoryFk" asp-items="ViewBag.category" class="form-control">
        <option selected>
            Select Category
        </option>
    </select>


    <label asp-for="Title"> </label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <span asp-validation-for="Title" class="bg-danger"></span>

    <label asp-for="Description"> </label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <span asp-validation-for="Description" class="bg-danger"></span>

    <label asp-for="Price"> </label>
    <input type="number" asp-for="Price" class="form-control" />
    <br />
    <span asp-validation-for="Price" class="bg-danger"></span>

    <br />
    <label asp-for="Image"> </label>
    <input type="file" name="file" accept=".jpg,.png,.jpeg" class="form-control" />
    <br />

    <input type="submit" value="Add" class="btn btn-primary" />

</form>